@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif ;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./images/pattern-background-desktop.svg');
  background-repeat: no-repeat;
  background-color: #e0e8ff; 
}

.order-card {
background-color: white;
width: 375px;
border-radius: 15px;
padding-bottom: 25px;
}

.order-card >img {
width: 100%;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}

.order-card h1 {
text-align: center;
font-size: 25px;
padding: 10px 20px;
color: #1f2f56;
font-weight: 900;
}

.order-card > p {
  text-align: center;
  padding: 10px 20px;
  font-size: 15px;
  color: #7280a7;
}

.order-card .summary {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #f5f7ff;
  width: 85%;
  margin: auto;
  padding: 15px;
  border-radius: 15px;
  margin-top: 20px;
}

.order-card .summary .details h3 {
  font-size: 18px;
  color: #1f2f56;
  font-weight: 700;
}

.order-card .summary .details p {
  font-size: 14px;
  color: #7280a7; 
}

.order-card .summary a {
  display: inline-block;
  margin-left: auto;
}

.order-card .summary a:hover {
text-decoration: none;
}

.order-card button {
  display: block;
  width: 85%;
  height: 40px;
  margin: auto;
  margin-bottom: 8px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.order-card button#payment {
  background-color: #3829e0;
  color: white;
  margin-top: 20px;
  box-shadow: 0px 8px 15px #a5b8f1;
}

.order-card button#payment:hover {
  opacity: 0.8;
}

.order-card button#cancel {
  background-color: transparent;
  color: #7280a7;
  font-family: 700;
}

.order-card button#cancel {
  background-color: transparent;
  color: #7280a7;
  font-family: 700;
}

.order-card button#cancel:hover {
  color: #1f2f56;
}
